html,body,p,h3,#header,#content,#main,#sidebar,#nav,#header{
	margin:0px;
	padding:0px;
}
#title{
	padding-top:30px;
	padding-left:10px;
}
body{
		background-color:#efefef;
		color:#444;
		font-family:arial;
		font-size:0.7em;
}
#wrapper{
	margin:0px auto;
	padding:0px;
	width:72%;
	background-color:#fff;
}
#header{
	height:80px;
	background-color:#0e734a;
	color:#fff;
}
#nav{
	border-top:1px solid #fff;
	background-color:#e41f1f;
	margin:0px;
	padding:5px;
}
#nav ul,li,a{
	margin:0px;
	padding:0px;
	color:#fff;
}
#nav li{
	display:inline;
	padding:5px 6px 6px 6px;
	
}
#nav a{
	text-decoration:none;
}
#nav li:hover{
	background-color:#e5d532;
}

#main{
	border-top:1px solid #fff;
	background-color:#fff;
}
#content{
	float:left;
	width:70%;
	
	
}
p{
	line-height:22px;
	padding:4px 2px;
}
#sidebar{
	float:left;
}
#footer{
	clear:both;
	border-top:1px solid #fff;
	background-color:#0e734a;
	height:40px;
	color:#fff;
	padding:5px;
}

